.card-pokemon-fire {
    background-image: linear-gradient(rgb(255, 123, 0), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(196, 108, 8);
    cursor: pointer;
}

.name-nums-fire {
    color: rgb(255, 123, 0);
}

.card-pokemon-grass {
    background-image: linear-gradient(rgb(17, 155, 12), rgb(255, 255, 255));
    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(40, 138, 10);
    cursor: pointer;
}

.name-nums-grass {
    color: rgb(17, 155, 12);
}


.card-pokemon-water {
    background-image: linear-gradient(rgb(17, 209, 216), rgb(255, 255, 255));


    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(16, 179, 219);
    cursor: pointer;
}

.name-nums-water {
    color: rgb(17, 209, 216);
}

.card-pokemon-flying {

    background-image: linear-gradient(rgb(112, 179, 182), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(89, 117, 139);
    cursor: pointer;
}

.name-nums-flying {
    color: rgb(112, 179, 182);
}

.card-pokemon-electric {
    background-image: linear-gradient(rgb(251, 255, 0), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(198, 219, 6);
    cursor: pointer;
}

.name-nums-electric {
    color: rgb(255, 230, 0);
}


.card-pokemon-fairy {

    background-image: linear-gradient(rgb(248, 34, 230), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(189, 29, 167);
    cursor: pointer;
}

.name-nums-fairy {
    color: rgb(248, 34, 230);
}

.card-pokemon-normal {

    background-image: linear-gradient(rgb(119, 57, 138), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(94, 54, 117);
    cursor: pointer;
}

.name-nums-normal {
    color: rgb(128, 69, 123);
}

.card-pokemon-rock {

    background-image: linear-gradient(rgb(128, 82, 39), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(59, 50, 28);
    cursor: pointer;

}

.name-nums-rock {
    color: rgb(59, 50, 28);
}

.card-pokemon-shadow {
    background-image: linear-gradient(rgb(224, 93, 53), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 2px solid rgb(220, 97, 53);
    cursor: pointer;
}

.name-nums-shadow {
    color: rgb(220, 97, 53);
}


.card-pokemon-ground {
    background-color: rgb(114, 100, 75);
    background-image: linear-gradient(rgb(114, 100, 75), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(90, 78, 53);
    cursor: pointer;
}

.name-nums-ground {
    color: rgb(90, 78, 53);
}

.card-pokemon-unknown {

    background-image: linear-gradient(rgb(114, 100, 75), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid #10043d;
    cursor: pointer;
}

.name-nums-unknown {
    color: #10043d;
}

.card-pokemon-bug {
    background-image: linear-gradient(rgb(115, 228, 10), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(122, 228, 22);
    cursor: pointer;
}

.name-nums-bug {
    color: rgb(14, 167, 14);
}

.card-pokemon-dark {

    background-image: linear-gradient(rgb(20, 20, 20), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(0, 0, 0);
    cursor: pointer;
}

.name-nums-dark {
    color: rgb(0, 0, 0);
}

.card-pokemon-ghost {

    background-image: linear-gradient(rgb(61, 61, 48), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(44, 38, 38);
    cursor: pointer;
}

.name-nums-ghost {
    color: rgb(44, 38, 38);
}

.card-pokemon-dragon {

    background-image: linear-gradient(rgb(255, 65, 7), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(136, 41, 3);
    cursor: pointer;
}

.name-nums-dragon {
    color: rgb(255, 65, 7), ;
}

.card-pokemon-steel {

    background-image: linear-gradient(rgb(201, 201, 193), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(128, 126, 126);
    cursor: pointer;
}

.name-nums-steel {
    color: rgb(128, 126, 126);
}

.card-pokemon-ice {

    background-image: linear-gradient(rgb(138, 240, 235), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(78, 199, 199);
    cursor: pointer;
}

.name-nums-ice {
    color: rgb(32, 108, 151);
}


.card-pokemon-poison {

    background-image: linear-gradient(rgb(180, 93, 12), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(230, 114, 6);
    cursor: pointer;
}

.name-nums-poison {
    color: rgb(180, 93, 12);
}

.card-pokemon-fighting {

    background-image: linear-gradient(rgb(212, 10, 10), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(112, 9, 9);
    cursor: pointer;
}

.name-nums-fighting {
    color: rgb(211, 16, 16);
}



.card-pokemon-psychic {

    background-image: linear-gradient(rgb(28, 10, 46), rgb(255, 255, 255));

    /* padding:10px 10px 10px 10px; */
    border-radius: 14px;
    border: 8px solid rgb(17, 5, 32);
    cursor: pointer;
}

.name-nums-psychic {
    color: rgb(17, 5, 32);
}



html {
    font-size: 16px;

    font-weight: 400;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    scroll-behavior: smooth;

}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Comic Neue', cursive;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/backgroundpoke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   





}

.App {}

.card_img {
    width: 300px;
    height: 300x;
    position: relative;
    top: 20px;
    z-index: 10;
}

.container__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.span_ {
    background-color: rgb(104, 101, 101);
    width: 100%;
    height: 1px;
    margin: 14px;
}

.states {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    padding-bottom: 20px;
}

.types {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.type {

    display: flex;
    flex-direction: column;
    gap: 17px;
    border-radius: 10px;
}

.name_pokemon {
    margin-top: 40px;
    font-family: 'Comic Neue', cursive;
}

.container__cards {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.states_second {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.states_first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name_pokemon {
    font-size: 29px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.name-pokemon {
    font-family: 'Comic Neue', cursive;
    text-align: center;
    margin: 0 10px;
    max-width:300px;
}

.card-id-pokemon {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;


}

/* ----------------------------article id--------------- */
/* .container-car-id{
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content:center;
    align-items: center;
    padding:20px 20px;
} */
.name-id {
}


.type-abilty {
    display: flex;
    gap: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding:0 10px;
}

.id {
    text-align: center;
}

.abilitys {
    display: flex;
    gap: 10px;
}

.first-ability {
    border: 1px solid rgb(180, 171, 171);
    padding: 3px 8px;
}

.second-ability {
    border: 1px solid rgb(180, 171, 171);
    padding: 3px 8px;
}


.type-id h5 {
    border: 1px solid rgb(180, 171, 171);
    padding: 3px 8px;
}

.name {

    display: flex;
    flex-direction: column;
}

.name-pokemon {
    font-size: 39px;
}

.line {
    display: block;
    height: 1px;
    background-color: rgb(202, 195, 195);
    box-shadow: 1px 1px 6px 1px rgb(158, 152, 152);

}

.height-weight {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.weight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.height {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.img-pokemon {
    background: linear-gradient(178.92deg, #0da733 0.92%, #2e9b4f 47.96%, #54e042 99.08%);
    ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
}

.card_img-id {
    width: 200px;
    height: 200px;
   margin-left:50px;
}

.container-card {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}


.movements p {

    padding: 0 20px;
}

.line_ {
    background-color: rgb(196, 189, 189);
    height: .2px;
    width: 100%;
    display: block;
    box-shadow: 1px 1px 6px 1px rgb(158, 152, 152);


}

.container-movements{
    box-shadow: 1px 1px 6px 1px rgb(158, 152, 152);
    border: 1px solid rgb(219, 203, 203);
    border-radius: 4px;
    text-align: center;
    
}
.container-movements h2{
    font-size:30px;
}

.movements {
   
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    padding: 30px 30px;

}

.movements p {
    font-weight: bold;
}

.tilte-type {
    font-family: 'Comic Neue';
}

.tilte-ability {
    font-family: 'Comic Neue';
}

.App__header {
    background: red;
    height: 100px;
    width: 100%;
}

.movement-span {
    background: rgb(235, 235, 241);
    border: 1px solid rgb(133, 128, 128);
    border-radius: 5px;
    margin: 10px 6px 0 0;
    padding: 2px 2px;
}

.types-pokemon {
    display: inline;
}

.types-container {
    display: flex;
    gap: 50px;
}


/* -----------------CSS input select JSX-------------------------------- */
.mesagge-welcome {
    margin: 10px 0 10px 0;
    font-size: 37px;
    font-weight: bold;
    text-align: center;

    color: white;
    margin-top: 40px;
    -webkit-text-stroke: 1px black;

}

.welcome {

    font-Size: 43px;
    font-weight: bold;
    color: #db381b;
    -webkit-text-stroke: 1px black;
}

.slect-input {
    display: flex;

    padding: 0 30px 0 30px;

    max-width: 990px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-search {
    display: flex;
    gap: 10px;
}

.btn-form-search {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 7px;
    padding: 7px 14px;
    font-weight: bold;

}



.Select {
    background: transparent;
}

.input-pokemon {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 7px;
    width: 300px;
    font-weight: bold;

}

::placeholder {
    color: rgb(255, 255, 255);
    text-align: center;
}

.title-select {

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container-pokedex {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container-form-title-select {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}










.ash-img {
    width: 300px;
    height: 500px;


}


/* ----------CSS HEADER ---------- */
.background {
    background-color: #db381b;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 12;

}

.barra {
    background-color: black;
    width: 100%;
    height: 50px;
    display: inline-block;

}

.circle {
    border: 5px solid rgb(0, 0, 0);
    top: 19px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    background: white;
    left: 80%;




}

.circle-small {
    border: 3px solid rgb(0, 0, 0);
    display: inline-block;
    width: 30px;
    height: 30px;
    background: rgb(31, 30, 30);

    border-radius: 50%;

}

.container-imglogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px ;
    padding: 30px;
   

    flex-wrap: wrap;

    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));



}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: auto;
    padding: 20px 20px;
}

.logo-pokedex {
    height: 83px;
    width: 400px;

}

.title-login {
    font-Size: 50px;
    font-weight: bold;
    color: #D43F25;
    -webkit-text-stroke: 1px black;
}

.span-text {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;



}

.input-login {

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

    text-align: center;
    border: none;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    cursor: pointer;
    border: 1px solid white;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.btn-login {
    background-color: #db381b;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ffffff;
    color: white;

}

.loginapp {
    display: flex;
    justify-content: center;
    align-items: center;
   



}

.input-btn {
    display: flex;
    gap: 10px;
}

.logo-pokedex-header {
    width: 240px;
    height: 65px;
    margin: auto;
}

.form-select {
    background-color: transparent;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 7px;
    width: 200px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.form-options {
    background: #d43f25e7;
    display: flex;
    gap: 20px;
    font-weight: bold;
}




.pagination-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    width: max-content;
    margin: 0 auto;
}

.pagination-number-container {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

.pagination-prev-next {
    font-size: 40px;
    color:#db381b;
    cursor: pointer;
     font-weight: bold;
     -webkit-text-stroke: .8px black;
    display: flex;
    justify-content: center;
    align-items: center;


}
.pagination-prev-next:hover{
 color: white;
 

}

.page-number {
    font-size: 33px;
    color: #db381b;
    cursor: pointer;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight:bold ;
    -webkit-text-stroke: .8px black;
}

.page-number:hover {
    background-color: #db381b;
    color:white;
}


  .page-active{
    background-color: #db381b;
    color: white;
  }

  footer{
    bottom:0;
  }

@media (max-width: 462px) {
    .page-number {
        font-size: 20px;
        color: white;
        cursor: pointer;
        width: 40px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .pagination-number-container {
        display: flex;
        gap: 1px;
        list-style: none;
        padding-left: 0;
    }

    .pagination-container {
        display: flex;
        gap: 10px;
        align-items: center;
        width: max-content;
        margin: 0 auto;
    }
}

.container {
    margin-bottom: 30px;
}


@media (max-width: 686px) {
    .slect-input {
        display: flex;
        flex-direction: column;

        padding: 0 30px 0 30px;

        max-width: 990px;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 30px;
    }
}

@media (max-width: 471px) {
    .input-btn {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}